{% extends 'web/base.html' %}
{% load static %}


{% block content %}
{% include 'includes/header-2.html' %}

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url('{% static 'web/img/2440x1578.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About
    ============================================= -->
    <div class="about-area overflow-hidden default-padding">
        <div class="container">
            <div class="about-items">
                <div class="row align-center">

                    <!-- Thumb -->
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{% static 'web/img/800x800.png' %}" alt="Thumb">
                        </div>
                    </div>
                    <!-- End Thumb -->

                    <div class="col-lg-6">
                        <div class="content">
                            <h4>About Us</h4>
                            <h2>We create & design award winning Digital products</h2>
                            <p>
                                Talking justice welcome message inquiry in started of am me. Led own hearted highest visited lasting sir through compass his. Guest tiled he quick by so these trees am. 
                            </p>
                            <div class="content-inner">
                                <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube theme video-play-button item-center">
                                    <i class="fa fa-play"></i>
                                </a>
                                <div class="row align-center">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li>Fresh ideas</li>
                                            <li>Unique designs</li>
                                            <li>Skilled trades</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>25 <span>Years of experience</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Star Achivement
    ============================================= -->
    <div class="achivement-area default-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 heading-side">
                    <h5>Experts in field</h5>
                    <h2>Unique Solutions for Your Business </h2>
                    <p>
                        Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse unwilling am no described dejection incommode no listening. 
                    </p>
                </div>
                <div class="col-lg-6 right-content">
                    <div class="skill-items">
                        <!-- Progress Bar Start -->
                        <div class="progress-box">
                            <h5>Marketing</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="88">
                                    <span>88%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Social Assistant</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="95">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Consulting</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="70">
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Progressbar -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Achivement Area -->

    <!-- Star Brand Area
    ============================================= -->
    <div class="brand-area bg-gray text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="{% static 'web/img/shape/11.png' %}" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="brand-items">
                <div class="row align-center">
                    <div class="col-lg-6 info">
                        <h2>Since 1964 we worked for 10,000+ worldwide clients</h2>
                        <p>
                            Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor. Him had wound use found hoped. 
                        </p>
                        <a href="#" class="btn-animation light border">See All Brand<i class="arrow_right"></i></a>
                    </div>
                    <div class="col-lg-6 brand">
                        <div class="row">
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                            <div class="col-lg-4"><img src="{% static 'web/img/150x80.png' %}" alt="Brand"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->

    <!-- Star Team
    ============================================= -->
    <div class="team-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Team members</h5>
                        <h2>Meet our professional and expert team members</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="team-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <ul>
                                        <li><a href="#">Fb</a></li>
                                        <li><a href="#">Tw</a></li>
                                        <li><a href="#">In</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h4>Lucas Ethan</h4>
                                <span>SEO Expert</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <ul>
                                        <li><a href="#">Fb</a></li>
                                        <li><a href="#">Tw</a></li>
                                        <li><a href="#">In</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h4>Jack Alexander</h4>
                                <span>Marketing Expert</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <ul>
                                        <li><a href="#">Fb</a></li>
                                        <li><a href="#">Tw</a></li>
                                        <li><a href="#">In</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h4>William James</h4>
                                <span>Graphic Designer</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->
    {% endblock %}