{% extends 'web/base.html' %}
{% load static %}


{% block content %}
{% include 'includes/header-2.html' %}

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url({% static 'web/img/2440x1578.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Our Projects</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Projects</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Portfolio
    ============================================= -->
    <div class="portfolio-area inc-colum default-padding">
        <div class="container">
            <div class="portfolio-items-area">
                <div class="row">
                    <div class="col-md-12 portfolio-content">
                        <div class="mix-item-menu text-center">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".development">Development</button>
                            <button data-filter=".consulting">Consulting</button>
                            <button data-filter=".finance">Finance</button>
                            <button data-filter=".branding">Branding</button>
                            <button data-filter=".capital">Capital</button>
                        </div>
                        <!-- End Mixitup Nav-->

                        <div class="magnific-mix-gallery masonary">
                            <div id="portfolio-grid" class="portfolio-items colums-3">
                                <!-- Single Item -->
                                <div class="pf-item development capital">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x600.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x600.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Finance</span>
                                            <h5><a href="#">Startup Funding</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="pf-item consulting branding">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x800.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x600.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Creative</span>
                                            <h5><a href="#">Accounting Advisory</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="pf-item consulting finance">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x600.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x600.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Business</span>
                                            <h5><a href="#">Merger & Acquisition</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="pf-item finance">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x800.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x800.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Invest</span>
                                            <h5><a href="#">{% static 'web For Technology</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="pf-item capital development">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x800.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x800.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Finance</span>
                                            <h5><a href="#">Business Matching</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="pf-item consulting branding">
                                    <div class="overlay">
                                        <img src="{% static 'web/img/800x600.png' %}" alt="thumb">
                                        <a href="{% static 'web/img/800x600.png' %}" class="item popup-link"><i class="fa fa-plus"></i></a>
                                        <div class="content">
                                            <span>Source</span>
                                            <h5><a href="#">Startup Funding</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->
        {% endblock %}